#### Miles A. Pe√±a
#### DSC 640 - Data Presentation and Visualization
#### Final Project Data Transformation
#### November 17, 2024

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
childcare_prices = pd.read_excel('nationaldatabaseofchildcareprices.xlsx')

In [4]:
childcare_prices

,State_Name,State_Abbreviation,County_Name,County_FIPS_Code,StudyYear,UNR_16,FUNR_16,MUNR_16,UNR_20to64,FUNR_20to64,...,MFCCToddler,MFCCToddler_flag,MFCCPreschool,MFCCPreschool_flag,_75FCCInfant,_75FCCInfant_flag,_75FCCToddler,_75FCCToddler_flag,_75FCCPreschool,_75FCCPreschool_flag
0,Alabama,AL,Autauga County,1001,2008,5.42,4.41,6.32,4.6,3.5,...,83.45,3.0,81.40,1.0,97.40,1.0,97.40,3.0,95.00,1.0
1,Alabama,AL,Autauga County,1001,2009,5.93,5.72,6.11,4.8,4.6,...,87.39,3.0,85.68,1.0,102.00,1.0,102.00,3.0,100.00,1.0
2,Alabama,AL,Autauga County,1001,2010,6.21,5.57,6.78,5.1,4.6,...,91.33,3.0,89.96,1.0,106.60,1.0,106.60,3.0,105.00,1.0
3,Alabama,AL,Autauga County,1001,2011,7.55,8.13,7.03,6.2,6.3,...,95.28,3.0,94.25,1.0,111.20,1.0,111.20,3.0,110.00,1.0
4,Alabama,AL,Autauga County,1001,2012,8.60,8.88,8.29,6.7,6.4,...,99.22,3.0,98.53,1.0,115.80,1.0,115.80,3.0,115.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34562,Wyoming,WY,Weston County,56045,2014,3.60,5.36,2.28,2.4,4.8,...,110.71,1.0,111.47,1.0,129.22,3.0,129.22,1.0,130.11,1.0
34563,Wyoming,WY,Weston County,56045,2015,5.16,7.86,3.16,4.2,7.6,...,110.89,1.0,110.89,1.0,129.43,1.0,129.43,1.0,129.43,1.0
34564,Wyoming,WY,Weston County,56045,2016,3.61,4.67,2.79,3.4,4.5,...,111.07,1.0,110.31,1.0,133.17,3.0,129.64,1.0,128.75,1.0
34565,Wyoming,WY,Weston County,56045,2017,2.24,2.64,1.95,2.3,2.8,...,111.26,1.0,109.74,1.0,136.91,3.0,129.85,1.0,128.08,1.0
34566,Wyoming,WY,Weston County,56045,2018,3.54,2.86,4.04,3.7,2.8,...,111.44,1.0,109.16,1.0,140.64,3.0,130.06,1.0,127.40,1.0

In [5]:
# find if there are missing values
any_missing = childcare_prices.isnull().values.any()
print(any_missing)

True

In [6]:
# display rows with missing values
childcare_prices[childcare_prices.isnull().any(axis = 1)]

,State_Name,State_Abbreviation,County_Name,County_FIPS_Code,StudyYear,UNR_16,FUNR_16,MUNR_16,UNR_20to64,FUNR_20to64,...,MFCCToddler,MFCCToddler_flag,MFCCPreschool,MFCCPreschool_flag,_75FCCInfant,_75FCCInfant_flag,_75FCCToddler,_75FCCToddler_flag,_75FCCPreschool,_75FCCPreschool_flag
737,Alaska,AK,Aleutians East Borough,2013,2008,3.44,5.79,2.51,3.08,5.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,Alaska,AK,Aleutians East Borough,2013,2009,4.35,5.96,3.66,4.30,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,Alaska,AK,Aleutians East Borough,2013,2010,3.44,5.60,2.72,3.50,5.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,Alaska,AK,Aleutians East Borough,2013,2011,5.81,1.89,7.13,6.00,2.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,Alaska,AK,Aleutians East Borough,2013,2012,3.10,1.92,3.49,2.90,2.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34557,Wyoming,WY,Weston County,56045,2009,4.27,6.14,2.92,3.90,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34558,Wyoming,WY,Weston County,56045,2010,2.29,3.81,1.22,2.00,4.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34559,Wyoming,WY,Weston County,56045,2011,3.34,4.80,2.28,2.40,4.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34560,Wyoming,WY,Weston County,56045,2012,4.82,6.72,3.42,3.30,5.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34561,Wyoming,WY,Weston County,56045,2013,4.07,5.36,3.13,2.50,4.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# list of columns to impute missing values (columns we are focusing on)
columns_to_impute = ['MCInfant', 'MCToddler', 'MCPreschool', 'MFCCInfant', 'MFCCToddler', 'MFCCPreschool', 'MHI', 'ME']

# loop through each column in the list to apply imputation
for column in columns_to_impute:
    childcare_prices[column] = childcare_prices[column].fillna(childcare_prices[column].mean())  # replace nulls with the overall mean
    childcare_prices[column] = childcare_prices[column].fillna(childcare_prices.groupby('State_Name')[column].transform('mean'))  # replace remaining nulls with state-wise mean

In [8]:
childcare_prices.to_excel('cleaned_childcare_data.xlsx', index = False)